body{
	font-family:'Roboto',sans-serif;
	margin=0px; 
	font-size:17px;
	line-height:26px;
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
	margin: 28px;
}
.header-part{
	width=100%;
	float:left;
	font-size:14px;
	}
	.container{
		width:1200px;
		margin:0px auto;
		}
		.logo{
			float:left;
			width:35%
		}
.menu{
	float:left;
	width:65%;
}		
.logo img{
	width:284px;
	
}
.menu ul li{
	list-style:none;
	float:left;
	padding-right:20px;
	
}
.menu ul li:last-child{
	padding-right:0px;
}
.menu ul{
float:right;
}
	
.banner-part{
	background:url(../images/bannerbg_files/bannerbg.jpg);
	width:100%;
	float:left;
	}
	.banner-part h1{
		font-size:32px;
	}
	.banner-info{
		float:left;
		color:white;
		width:70%;
	}
	.banner-info ul li{
		margin-bottom:10px
	}
	  .quick-enquiry{
		  background-color:#00c2c5;
		  width:26%;
		  float:left;
		  padding:15px 2%;
		  border-radius:5px;
		   }
		   .quick-enquiry h3{
			   color:white;
			   font-size:24px;
			   margin-bottom:15px;
		   }
		   .form-control{
			   width:93%;
			   height:36px;
			   border-radius:5px;
			   padding:0px 10px;
			   border :1px #fff;
			   margin-bottom : 15px;
		     }
		  .btn-style{
			  background : red;
			  color : white;
			  border: 1px solid red;
			  padding :10px 20px;
			  margin-top : 15px;
			  border-radius :5px;
			  font-weight : 600;
			  		  
		  }
		 .course-item {
			 float : left;
			 width : 21.37%;
			 padding :15px 1%;
			 background	: #f5f5f5;
			 margin :0px 10px;
		     border-radius : 5px ;
			 border : 1px solid #ddd;

		 }
		 .course-item: last-child{
			margin-right : 0px;
			
		 }
	
		.course-icon{
			float :left;
			width :25%;
		 }
		
		.course-icon img{
			width :50px;
			margin-right: 15px;
			
		}	

		.course-info{
			float: left;
			text-align : center;
			width : 75%;
			
		}
		.course-info span{
			font-weight:bold;
			
		}
		.course-details{
			float:left;
			width:100%;
			padding:50px 0px;
		
		}
		.web-design-online{
			width:100%;
			float:left;
		}
		.web-design-online h3{
			text-align:center;
			margin-bottom:40px;
		
		}
		.web-design-online p{
			margin-bottom:40px;
			text-align:center
		}
		.web-design{
			background:#f5f5f5;
			padding:1%;
			width:22%;
			box-shadow:1px 2px 6px rgba(0,0,0,.25);
			float:left;
			margin:7px 6px;
			min-height:186px;
			margin-bottom:10px;
			
			
		}
		
		.web-design img{
			width:60px;
		}
		.web-design h3{
		text-align:center;
		font-size:16px;
		margin-bottom:0px;
		}
		.web-design p{
			text-align:center;
			line-height:20px;
		}
		.call-to-action{
			background :url(../images/bannerbg_files/call-to-action-bg.jpg);
			float:left;
			width:100%;
			padding:50px 0px;
			color:white;
			background-position:right;
		}
		.call-to-action h2{
			font-size:30px;
			margin-bottom:20px;'
		}
		.call-to-action h2 span{
			font-size:12px;
		}
		.btn-style1{
			background:white;
			color:#333;
			padding:10px 20px;
			margin-top:15px;
			border-radius:5px;
			font-weight:600;
		}
		.download-btn{
		margin-top:40px;
		}
		.course-benefits{
			width:100%;
			float:left;
			padding:50px 0px;
		}
		
		
.benefits{
	width:55%;
	float:left;
	margin-right:10%;
}
.course-certificate{
	width:35%;
	float:left;
}
.course-certificate img{
	width:100%;
	box-shadow: 1px 2px 6px rgba(0,0,0,.25);
}
.benefits ul li{
	list-style:none;
	color:black;
	margin-bottom:20px;
	padding:8px 18px;
	border-radius:10px;
}
	
.benefits ul{
	padding-left:0px;
}
.benefits ul  li:first-child{
	background-color
}
.careers{
	width:100%;
	float:left;
	background:#f5f5f5;
	padding-top:50px;
	padding-bottom:50px;
}
.careers h2{
	text-align:center;
}
.careers p{
	text-align:center;
}
.company-logos{
	width:100%;
	box-shadow: 1px,2px,6px rgba(0,0,0,.25);
	padding:7%;
	margin-right:0px 6%;
	float:left;
}
.logo-img img{
	padding-left:10px;
	padding-top:30px;
	    float: left;
		width:15%;
}
.testimonials{
	width:100%;
	float:left;
	padding-top:50px;
	padding-bottom:50px;
	background-color:white;
	
	}
.testimonials h2{
	text-align:center;
	}
	.testimonials p{
		text-align:center;
	}
	.testimonial-box{
		
		float:left;
		border:1px solid #ddd;
		width:19%;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:20px;
		padding-right:20px;
	    margin-right:20px;
         border-radius:5px;
	}
	.testimonial-box p{
		text-align:left;
		
	}
	.testimonial-box p span{
		font-weight:600;
	}
	.our-location{
		width:100%;
		float:left;
		padding:30px,0px;
	background-color:#f5f5f5
	}
	.our-location h2{
		text-align:center;
	}
	.our-location address{
		text-align:center;
		font-size:20px;
	}
	.get-direction{
		background:red;
		color:white;
		border-top:20px;
		border:1px solid #red;
		border-radius:5px;
		padding :10px 20px;
	margin-bottom:20px;
	}
	.get-direction-btn{
		margin-top:20px;
	}
	.footer{
		width:100%;
		float:left;
		
		padding-bottom:15px;
		padding-top:15px;
		background:black;
		color:white;
	}
	.copyright{
		float:left;
	margin-top:10px;
	border-top:20px;
	
	}
	.copyright :first-child{
		text-align:right;
	}
	.copyright:last-child{
		float:right;
	}







